html {
  background: #123;
}

body, head {
  display: block;
  font-size: 52px;
  color: transparent;
}

head::before, head::after,
body::before, body::after {
  z-index: -1;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: ".";
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
}

body::before {
  text-shadow: 0.1347547567em 2.1814568382em 7px rgba(62, 255, 0, 0.9), 1.7515597688em 0.4765242993em 7px rgba(255, 236, 0, 0.9), -0.3115367682em 1.4528529296em 7px rgba(0, 60, 255, 0.9), 1.7757280229em 2.280292235em 7px rgba(79, 0, 255, 0.9), 2.1934219889em 0.1130161525em 7px rgba(0, 255, 197, 0.9), 1.1532881768em -0.1344474939em 7px rgba(0, 255, 2, 0.9), -0.0320902728em 1.0664225703em 7px rgba(255, 246, 0, 0.9), 0.7368251455em 1.6670132012em 7px rgba(154, 255, 0, 0.9), 1.6147205406em 1.7144908427em 7px rgba(0, 20, 255, 0.9), -0.0654795487em 1.8736413543em 7px rgba(255, 0, 18, 0.9), 0.9502376191em 0.8517950628em 7px rgba(120, 0, 255, 0.9), 1.1037601008em 1.2490225925em 7px rgba(255, 0, 88, 0.9), 0.8560147618em 1.9357223397em 7px rgba(255, 242, 0, 0.9), 0.8992027867em 0.3172176252em 7px rgba(255, 222, 0, 0.9), 1.8200949358em 1.3208370744em 7px rgba(255, 234, 0, 0.9), -0.4494068434em -0.0051388608em 7px rgba(0, 205, 255, 0.9), 2.323106285em 0.9341346065em 7px rgba(255, 93, 0, 0.9), 2.1869256128em 1.7765635817em 7px rgba(215, 0, 255, 0.9), 1.7073899592em -0.2599053143em 7px rgba(7, 0, 255, 0.9), 1.090649087em 1.7989406255em 7px rgba(197, 0, 255, 0.9), 2.3457879983em 2.0088499553em 7px rgba(255, 144, 0, 0.9), -0.1297397068em 2.2036051318em 7px rgba(123, 255, 0, 0.9), 1.8084926795em 0.9792908352em 7px rgba(255, 239, 0, 0.9), 2.346647612em 0.5333283582em 7px rgba(255, 151, 0, 0.9), 1.4977042382em 0.6241345137em 7px rgba(0, 255, 51, 0.9), 1.0641453965em 1.4406442007em 7px rgba(255, 111, 0, 0.9), -0.2725105373em 2.0151849417em 7px rgba(255, 0, 154, 0.9), 1.8567819505em 1.6513142335em 7px rgba(0, 21, 255, 0.9), 2.0205718684em 2.2106388539em 7px rgba(24, 255, 0, 0.9), -0.3608672373em 2.3292225617em 7px rgba(0, 255, 255, 0.9), 1.4503182745em 2.1648197997em 7px rgba(4, 255, 0, 0.9), -0.1367599985em 0.9924104955em 7px rgba(255, 152, 0, 0.9), 1.3868856829em 0.51699779em 7px rgba(0, 255, 89, 0.9), 0.0296762433em 1.6886313983em 7px rgba(17, 0, 255, 0.9), 2.4787736817em 0.1259604928em 7px rgba(255, 0, 204, 0.9), 0.2506267997em 2.1919155611em 7px rgba(0, 255, 88, 0.9), -0.3860037811em 2.3188713601em 7px rgba(0, 255, 235, 0.9), -0.0852290326em 1.4631266487em 7px rgba(255, 0, 95, 0.9), 1.3636073292em 1.3181153371em 7px rgba(0, 199, 255, 0.9), 1.3389913643em 1.1933509789em 7px rgba(255, 0, 199, 0.9), 1.7219379964em 0.4204261941em 7px rgba(0, 6, 255, 0.9);
  animation-duration: 44s;
  animation-delay: -27s;
}

body::after {
  text-shadow: 2.1549503402em 2.0533483637em 7px rgba(0, 255, 88, 0.9), 1.2915393632em 0.0539751626em 7px rgba(0, 255, 242, 0.9), 0.0326471923em 0.7188809709em 7px rgba(0, 255, 228, 0.9), -0.4783853032em 1.028731813em 7px rgba(0, 255, 103, 0.9), 1.1164809798em 0.5625791708em 7px rgba(255, 156, 0, 0.9), 0.364959134em 0.6619673459em 7px rgba(255, 13, 0, 0.9), 2.2440112389em 0.9447352559em 7px rgba(0, 240, 255, 0.9), -0.2935024831em -0.2179176057em 7px rgba(0, 251, 255, 0.9), 0.0602146566em 0.7672105368em 7px rgba(86, 0, 255, 0.9), 2.3473609027em 0.2090067135em 7px rgba(233, 255, 0, 0.9), 1.455910696em 1.0861650928em 7px rgba(255, 0, 164, 0.9), -0.4048064641em 0.2792495537em 7px rgba(74, 255, 0, 0.9), 0.2092601816em -0.3224068349em 7px rgba(0, 194, 255, 0.9), 1.8368607496em -0.2584540782em 7px rgba(0, 255, 224, 0.9), 0.7005739327em 2.4587189716em 7px rgba(0, 250, 255, 0.9), 2.2497468898em 1.8111134832em 7px rgba(255, 0, 78, 0.9), -0.3813768977em 0.4563093156em 7px rgba(0, 255, 49, 0.9), -0.4671761792em 1.7364483644em 7px rgba(255, 38, 0, 0.9), 0.6139707226em 1.5455219633em 7px rgba(255, 35, 0, 0.9), 2.3051665783em 0.7442383179em 7px rgba(0, 136, 255, 0.9), 1.6956796384em 2.0131164773em 7px rgba(177, 255, 0, 0.9), 0.0914871073em 0.2712517735em 7px rgba(154, 0, 255, 0.9), 0.6010685604em -0.4983539818em 7px rgba(255, 0, 105, 0.9), 2.314667625em 2.0606344111em 7px rgba(255, 114, 0, 0.9), 2.0564102209em -0.4167071085em 7px rgba(183, 255, 0, 0.9), -0.0897464491em 2.4874372194em 7px rgba(255, 0, 131, 0.9), 2.3944435894em 1.0611170294em 7px rgba(255, 191, 0, 0.9), 0.8957113579em -0.0281255851em 7px rgba(0, 183, 255, 0.9), 1.8744453547em 2.0602356004em 7px rgba(0, 197, 255, 0.9), -0.2167239325em 0.207989339em 7px rgba(255, 137, 0, 0.9), 1.5278434117em -0.2733080414em 7px rgba(203, 0, 255, 0.9), 0.3779852088em 0.7811513847em 7px rgba(143, 255, 0, 0.9), 1.6032695369em 1.6363212657em 7px rgba(107, 0, 255, 0.9), 1.749043956em 1.9339790824em 7px rgba(106, 255, 0, 0.9), 0.4516845454em 2.1417959758em 7px rgba(0, 87, 255, 0.9), 1.8640352629em -0.4912995104em 7px rgba(255, 0, 200, 0.9), 0.4219126336em 0.4370378998em 7px rgba(207, 255, 0, 0.9), 1.434114043em 0.5092135991em 7px rgba(127, 0, 255, 0.9), 2.3378204495em 2.1355634964em 7px rgba(255, 104, 0, 0.9), -0.1269963034em -0.4842961804em 7px rgba(0, 246, 255, 0.9), 1.6816513157em -0.1594556035em 7px rgba(158, 0, 255, 0.9);
  animation-duration: 43s;
  animation-delay: -32s;
}

head::before {
  text-shadow: 2.2311044221em 2.4041082691em 7px rgba(0, 255, 132, 0.9), -0.16988784em 0.2392083224em 7px rgba(255, 0, 181, 0.9), 0.0238518525em -0.2580143746em 7px rgba(0, 255, 217, 0.9), 2.4987216856em 0.3953656398em 7px rgba(81, 255, 0, 0.9), 0.713245543em 1.8277604229em 7px rgba(127, 255, 0, 0.9), 0.5889957617em 1.8311968513em 7px rgba(255, 0, 198, 0.9), 1.1273486282em 1.4065488447em 7px rgba(85, 0, 255, 0.9), 2.1334435868em 1.4669035669em 7px rgba(255, 61, 0, 0.9), 1.6705036454em 2.2623474644em 7px rgba(0, 255, 200, 0.9), 0.6436606602em 1.2071530252em 7px rgba(255, 0, 55, 0.9), 2.2284751755em 1.0959975436em 7px rgba(11, 0, 255, 0.9), 0.8026199202em 1.0071433537em 7px rgba(52, 0, 255, 0.9), 0.6493370485em 1.9188222127em 7px rgba(236, 255, 0, 0.9), -0.4617807107em 1.3555678215em 7px rgba(236, 255, 0, 0.9), 1.5538010999em 0.652115659em 7px rgba(255, 0, 96, 0.9), 0.4549439654em 1.530039934em 7px rgba(38, 0, 255, 0.9), 2.1577562079em 2.206070557em 7px rgba(255, 0, 52, 0.9), 1.1057411183em 2.2994303343em 7px rgba(0, 214, 255, 0.9), 0.4077693745em 0.2857340099em 7px rgba(255, 0, 177, 0.9), 1.6730463841em 2.4414554686em 7px rgba(255, 0, 244, 0.9), 2.4574429325em 1.2532387062em 7px rgba(238, 0, 255, 0.9), 0.7616468094em 2.2681653508em 7px rgba(0, 255, 200, 0.9), -0.3081928938em 2.438743929em 7px rgba(171, 255, 0, 0.9), 0.4047922706em 0.392101726em 7px rgba(255, 6, 0, 0.9), -0.3280627991em 1.7241455441em 7px rgba(0, 255, 161, 0.9), -0.1354528104em 2.0725323102em 7px rgba(84, 0, 255, 0.9), 0.1585539659em 0.1745289765em 7px rgba(255, 119, 0, 0.9), 0.9277446245em -0.3609899107em 7px rgba(255, 0, 247, 0.9), 0.789964688em 1.2926240421em 7px rgba(255, 0, 234, 0.9), -0.1857858818em 1.6012784633em 7px rgba(127, 0, 255, 0.9), 0.3191045355em 1.3297988412em 7px rgba(0, 83, 255, 0.9), 1.8689666967em 0.5207765129em 7px rgba(255, 0, 61, 0.9), -0.2507796103em 1.9410359348em 7px rgba(0, 253, 255, 0.9), 2.2812192703em 0.013039092em 7px rgba(255, 12, 0, 0.9), 0.6251388633em 2.394681307em 7px rgba(106, 255, 0, 0.9), 1.5667264529em 2.0030514536em 7px rgba(255, 17, 0, 0.9), 1.8409347765em 1.69673687em 7px rgba(255, 0, 209, 0.9), 0.4076806909em 0.1768592582em 7px rgba(255, 0, 153, 0.9), 0.6037767552em 2.3040608192em 7px rgba(255, 0, 231, 0.9), 1.1099111132em 0.3840468311em 7px rgba(0, 43, 255, 0.9), 1.023570687em 0.3317477957em 7px rgba(255, 0, 246, 0.9);
  animation-duration: 42s;
  animation-delay: -23s;
}

head::after {
  text-shadow: 0.2322022482em 0.928241556em 7px rgba(0, 170, 255, 0.9), 0.0126512745em -0.2107281426em 7px rgba(222, 255, 0, 0.9), 1.0195893028em 2.0157505523em 7px rgba(255, 171, 0, 0.9), 2.4393717733em 0.3965210919em 7px rgba(0, 255, 184, 0.9), 0.746831056em 2.3962531967em 7px rgba(255, 134, 0, 0.9), 1.0600244017em 1.567241837em 7px rgba(255, 0, 241, 0.9), -0.4966764196em 1.9913852263em 7px rgba(0, 255, 122, 0.9), -0.0540453411em 0.6818135386em 7px rgba(35, 255, 0, 0.9), 0.9120919674em 1.2287132653em 7px rgba(58, 0, 255, 0.9), 0.3819490995em 1.8673038032em 7px rgba(47, 0, 255, 0.9), 2.3625391305em 0.7899867741em 7px rgba(255, 0, 239, 0.9), -0.2343430454em -0.337712479em 7px rgba(255, 56, 0, 0.9), 0.3461397766em 1.6404042129em 7px rgba(46, 0, 255, 0.9), 0.6775260128em 1.92447487em 7px rgba(31, 0, 255, 0.9), 1.168335057em -0.2687166228em 7px rgba(0, 246, 255, 0.9), 0.352835483em 1.664168039em 7px rgba(255, 0, 80, 0.9), 0.2745640391em 0.7369431907em 7px rgba(0, 60, 255, 0.9), 0.5452316629em -0.1507152704em 7px rgba(251, 0, 255, 0.9), -0.375729049em 1.1197568162em 7px rgba(255, 0, 221, 0.9), 1.3763063939em 0.3126271641em 7px rgba(255, 0, 162, 0.9), 0.3360252031em 1.7392239972em 7px rgba(0, 255, 99, 0.9), 2.2676882317em -0.3394002256em 7px rgba(0, 125, 255, 0.9), -0.291611479em 1.2675131823em 7px rgba(255, 214, 0, 0.9), 1.1764239884em -0.4312386535em 7px rgba(69, 255, 0, 0.9), 1.7384936628em 0.3662475634em 7px rgba(0, 255, 215, 0.9), -0.0699102598em 2.1949222275em 7px rgba(0, 237, 255, 0.9), -0.2011638292em 0.2787664583em 7px rgba(69, 255, 0, 0.9), 2.4555203802em -0.1290177114em 7px rgba(30, 255, 0, 0.9), 2.462563765em -0.4968061418em 7px rgba(255, 186, 0, 0.9), 0.4633430132em 1.9451738413em 7px rgba(255, 0, 90, 0.9), 0.0219464481em -0.3306900905em 7px rgba(63, 255, 0, 0.9), 0.5134315752em 1.4735417506em 7px rgba(255, 0, 92, 0.9), 2.288581102em -0.3706323788em 7px rgba(255, 198, 0, 0.9), 0.5822518333em 1.0027043784em 7px rgba(0, 206, 255, 0.9), -0.0373009972em 1.5117515394em 7px rgba(242, 255, 0, 0.9), -0.2096095238em 0.22442676em 7px rgba(120, 0, 255, 0.9), 0.1406490958em 0.1359051741em 7px rgba(0, 255, 94, 0.9), 1.4743919305em 1.4618132404em 7px rgba(255, 226, 0, 0.9), 1.7627666943em 1.2521768008em 7px rgba(246, 0, 255, 0.9), 1.1700226489em 2.2801402889em 7px rgba(255, 207, 0, 0.9), 2.4478243126em 0.7382770861em 7px rgba(255, 131, 0, 0.9);
  animation-duration: 41s;
  animation-delay: -19s;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}
/* base */
body {
    font-family: sans-serif;
    background-color: #ffffff;
    
  }
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
  }

  /* modal content */


#css-only-modals {
  color: #35465d;
	position: fixed;
	pointer-events: none;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 10000000;
	text-align: center;
	white-space: nowrap;
	height: 100%;
}

#css-only-modals:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em;
}

.css-only-modal-check {
	pointer-events: auto;
}

.css-only-modal-check {
	opacity: 1;
	pointer-events: auto;
}

.css-only-modal {
	width: 50%;
	background: #FFF;
	z-index: 1;
	display: inline-block;
	position: relative;
	pointer-events: auto;
	padding: 25px;
	text-align: right;
	border-radius: 4px;
	white-space: normal;
	display: inline-block;
	vertical-align: middle;
	opacity: 0;
  pointer-events: none;
  font-weight: 700;
  font-size: 3.2vw;
  font-family: 'Gamja Flower', cursive;
  opacity: 1;
	pointer-events: auto;
 
}

.css-only-modal h2 {
	text-align: center;
}

.css-only-modal p {
	text-align: left;
}

.css-only-modal-close {
	position: absolute;
	top: 15px;
	right: 25px;
  
}

.css-only-modal-check {
	display: none;
}

.css-only-modal-check{
	opacity: 0.5;
	pointer-events: auto;
}

#screen-shade {
	opacity: 0;
	background: #000;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	pointer-events: none;
	transition: opacity 0.8s;
  opacity: 0.5;
	pointer-events: auto;
}
  
/* ------------------------ */
  .file-upload {
    background-color: #ffffff;
    width: 70%;
    height: 80%;
    padding: 9% 3%;
    border-radius: 40px;
    border: solid 1.5px #f6f7fa;
    background-color: #f6f7fa;
  }
  
  
  .file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .file-upload-btn:hover {
    background: #1AA059;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
  }
  
  .file-upload-content {
    display: none;
    text-align: center;
  }

/* 클론 */
  #loading {
    display: none;
  }
/* 클론 */


  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  
  .image-upload-wrap {
    border: 2px dashed #ffffff;
    position: relative;
    object-fit: contain;
    border-radius: 40px;
    /* border: dashed 1.5px #35465d; */
    background-color: #ffffff;
    width:80%;
    height: 80%;
    margin: 0 auto;
    
  }
  
  .image-dropping,
  .image-upload-wrap:hover {
    background-color:  #ffffff;
    border: 2px dashed#35465d;
    
  }
  
  .image-title-wrap {
    padding: 15px 15px 15px 15px;
    color: #35465d;
  }
  
  .drag-text {
    text-align: center;
  }
  
  .drag-text h3 {
    font-family: 'Gamja Flower', cursive;
    width: 50%;
    font-weight: 100; 
    text-transform: uppercase;
    font-family: 'Gamja Flower', cursive;
    font-size: 3.0vw;
    font-weight: bold;
    line-height: 1.53;
    text-align: center;
    /* color: #35465d; */
    color:#02b102;
    margin: 0 auto;
  }
 
  
  .file-upload-image {
    max-height: 50%;
    max-width: 70%;
    margin: auto;
    padding: 20px;
    border-radius: 40px;
  }
  

  
  .remove-image {
    width: 40%;
    margin: 4%;
    color: #fff;
    background:#35465d;;
    border: none;
    padding: 10px;
    border-radius: 30px;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.7vw;
    font-family: 'Gamja Flower', cursive;
  }
  
  .remove-image:hover {
    background: #21f556;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .remove-image:active {
    border: 0;
    transition: all .2s ease;
  }
  .nav-distance{
      padding:2.1% 7.7%
  }

  /* .navbar-light .navbar-brand{
    background-color: #ffffff;
    font-family: NanumSquareR;
    line-height: 1.68;
    text-align: left;
    color: #35465d 
    }
    .navbar-light .navbar-toggler {
        color: rgba(0,0,0,.5);
        border-color: #ffffff;
    } */
    .section{
      margin-top: 50px;
    }
    .title{
      font-family: 'Gamja Flower', cursive;
      line-height: 1.67;
      text-align: center;
      color: #35465d;
      font-size:4.2vw ;
      margin-top: 100px;
      
    }
    
    .title:hover{
      font-family: 'Gamja Flower', cursive;
      line-height: 1.67;
      text-align: center;
      color: #35465d;
      text-decoration:underline;
   
    }

    .subtitle{
      font-family: 'Gamja Flower', cursive;
      line-height: 1.53;
      text-align: center;
      color: #35465d;
      font-size:3.5vw 
    }

    button:focus {
      outline: none;
  }
    



.blog-link{
     font-family: 'Gamja Flower', cursive;
      line-height: 1.71 ;
      color:#06c235;
      text-decoration: underline;
      font-size: 2.4vw;
}
.blog-link:hover{
  font-family: 'Gamja Flower', cursive;
   line-height: 1.71 ;
   color:#06c235;
   font-size: 2.8vw;
   text-decoration: underline;
}
/* title */
#mes1 {  
  font-size: 4.0vw;
  font-weight: bold;
  margin-top: 4%;
  margin-bottom: 1rem;
  color: #35465d;
  font-family: 'Gamja Flower', cursive;

}
/* content */
#mes2{
  font-size: 3.0vw;
  font-weight: bold;
  margin-top: 4%;
  margin-bottom: 1rem;
  color:  #35465d;
  font-family: 'Gamja Flower', cursive;
  padding-bottom: 15px;
 
}
/* celeb */
#mes3{
  font-size: 2.8vw;
  font-weight: bold;
  margin-top: 4%;
  margin-bottom: 1rem;
  color:  #35465d;
  font-family: 'Gamja Flower', cursive;
}
.blog-icon{
  height: 7%;
  width: 7%;
  padding: 0;
}
 /* .remove-image {
   animation:  fade-in 3s 2.5s ease both;
 } */

 #mes1{
  animation:  fade-in 2.0s 1.5s ease both;
 }
 #mes2{
  animation:  fade-in 2.5s 2.0s ease both;
 }
 #mes3{
  animation:  fade-in 3s 2.5s ease both;
 }
 
 @keyframes fade-in {
   from {
     opacity: 0;
   }
   to {
     opacity: 1;
   }
 }
 img {
  vertical-align: middle;
  border-style: none;
  border-radius: 40px;
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 20px;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

 .ouro {
  position: relative;
  display:inline-block;
  height: 46px;
  width: 46px;
  margin: 1em;
  border-radius: 50%;  
  background: none repeat scroll 0 0 #DDDDDD;
  overflow:hidden;
  box-shadow: 0 0 10px rgba(0,0,0,.1) inset, 0 0 25px rgba(0,0,255,0.075);
}

.ouro:after {
  content: "";
  position: absolute;
  top: 9px; left: 9px;
  display: block;
  height: 28px; width: 28px;
  background: none repeat scroll 0 0 #F2F2F2;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}
.ouro > span {
  position: absolute;
  height: 100%; width: 50%;
  overflow: hidden;
}
.left  { left:0   }
.right { left:50% }

.anim {
  position: absolute;
  left: 100%; top: 0;
  height: 100%; width: 100%;
  border-radius: 999px;
  background: none repeat scroll 0 0 #35465d;
  opacity: 0.8;
  -webkit-animation: ui-spinner-rotate-left 3s infinite;
  animation: ui-spinner-rotate-left 3s infinite;
  -webkit-transform-origin: 0 50% 0;
  transform-origin: 0 50% 0;
}
.left .anim {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.right .anim {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  left: -100%;
  -webkit-transform-origin: 100% 50% 0;
  transform-origin: 100% 50% 0;
}

/* v2 */
.ouro2 .anim {
 -webkit-animation-delay:0;
 animation-delay:0;
}
.ouro2 .right .anim{
 -webkit-animation-delay: 1.5s;
 animation-delay: 1.5s;
}

/* v3 */
.ouro3 .anim {
 -webkit-animation-delay: 0s;
 -webkit-animation-duration:3s;
 -webkit-animation-timing-function: linear;
 animation-delay: 0s;
 animation-duration:3s;
 animation-timing-function: linear;
}
.ouro3 .right .anim{
 -webkit-animation-name: ui-spinner-rotate-right;
 -webkit-animation-delay:0;
 -webkit-animation-delay: 1.5s;
 animation-name: ui-spinner-rotate-right;
 animation-delay:0;
 animation-delay: 1.5s;
}

/* round variation */
.round .ouro:after {display:none }

/* double variation */
.double .ouro:after {
height: 13px; width: 13px;
left: 7px; top: 7px;
border: 10px solid #ddd;
background: transparent;
box-shadow: none;
}

@keyframes ui-spinner-rotate-right{
0%{transform:rotate(0deg)}
25%{transform:rotate(180deg)}
50%{transform:rotate(180deg)}
75%{transform:rotate(360deg)}
100%{transform:rotate(360deg)}
}
@keyframes ui-spinner-rotate-left{
0%{transform:rotate(0deg)}
25%{transform:rotate(0deg)}
50%{transform:rotate(180deg)}
75%{transform:rotate(180deg)}
100%{transform:rotate(360deg)}
}

@-webkit-keyframes ui-spinner-rotate-right{
0%{-webkit-transform:rotate(0deg)}
25%{-webkit-transform:rotate(180deg)}
50%{-webkit-transform:rotate(180deg)}
75%{-webkit-transform:rotate(360deg)}
100%{-webkit-transform:rotate(360deg)}
}
@-webkit-keyframes ui-spinner-rotate-left{
0%{-webkit-transform:rotate(0deg)}
25%{-webkit-transform:rotate(0deg)}
50%{-webkit-transform:rotate(180deg)}
75%{-webkit-transform:rotate(180deg)}
100%{-webkit-transform:rotate(360deg)}
}

#AI{
  color: #35465d; 
  font-size:3.5vw;
  margin-bottom: 3rem;
  font-weight: bold;
  font-family: 'Gamja Flower', cursive;
}


#gen{
  font-size: 3.0vw;
  font-weight: bold;
  color: #35465d;
  font-family: 'Gamja Flower', cursive;
}
#female{
  font-weight: bold;
  color: #35465d;
  font-family: 'Gamja Flower', cursive;
}
#male{
  font-weight: bold;
  color: #35465d;
  font-family: 'Gamja Flower', cursive;
}
@media screen and (min-width:600px){
  .css-only-modal {
    width: 45%;
  }
}

@media screen and (min-width:800px){
  .css-only-modal{
    font-size:2.5vw ;
  }
  
  .title{
    font-size: 2.6vw;
  }
  .subtitle{
    font-size: 1.6vw;
  }
  .blog-link {
    font-size: 1.2vw;
  }
  .blog-link:hover{
    font-size:1.4vw;
  }
  .drag-text h3{
   font-size: 1.2vw;
  }
  #gen{
    font-size: 1.6vw;
  }
 
  .remove-image{
    font-size: 1.2vw;
  }
  #mes1{
    font-size: 1.4vw;
  }
  #mes2{
    font-size: 1.2vw;
  }
  #mes3{
    font-size: 1.0vw;
  }
  #AI{
    font-size:1.2vw;
  }
  .file-upload {
    width: 50%;
    height: 50%;
  }

  .image-upload-wrap {
    width: 60%;
    height: 60%;
  }
}
@media screen and (min-width:1100px){
  .css-only-modal{
    font-size:1.5vw ;
  }
  .css-only-modal {
    width: 30%;
  }
}

@media screen and (min-width:1200px){
  
 
  .remove-image{
    font-size: 0.8vw;
  }
  #mes1{
    font-size: 1.2vw;
  }
  #mes2{
    font-size: 1.0vw;
  }
  #mes3{
    font-size: 0.8vw;
  }
  #AI{
    font-size:0.8vw;
  }
  .image-upload-wrap {
    width: 60%;
    height: 50%;
  }
  .file-upload-image {
    max-height: 50%;
    max-width: 60%;
    margin: auto;
    padding: 20px;
    border-radius: 40px;
  }
  img{
    width: 60%;
    height: 50%;
  }
  
}

@media screen and (min-width:1400px){
  .css-only-modal {
    width: 20%;
  }
}
#footer {
  font-family: 'Gamja Flower', cursive;
  padding: 4em 0 2em 0;
  background: #f6f7fa;
}

  #footer .copyright {
    color: #bfbfbf;
    font-size: 0.9em;
    margin: 0 0 2em 0;
    padding: 0 1em;
    text-align: center;
  }
/* 
  @media screen and (max-width: 736px) {

    #footer {
      padding: 3em 0 1em 0;
    }

    #thread__wrapper{
      padding-left: 10px;
      padding-right: 10px;
    } */

/* gender */


/* input#gender {
  display: none;
}

label {
  cursor: pointer;
  display: inline-block;
  width: 75px;
  height: 30px;
  box-shadow: 0 0 0 8px #e5e9ea inset;
  border-radius: 30px;
  position: relative;
}

.knob {
  position: absolute;
  width: 30px;
  top: 0;
  left: 0;
  height: 32px;
  border-radius: 50%;
  box-shadow: 0 0 0 8px #f470a7 inset;
  background-color: #fbd4e6;
  transition: 0.3s;
}

.knob > i {
  position: absolute;
  width: 4px;
  height: 18px;
  top: 100%;
  background-color: #f470a7;
  left: calc(50% - 2px);
}

.knob > i:before,
.knob > i:after {
  width: 6px;
  position: absolute;
  top: 42%;
  content: "";
  height: 4px;
  background-color: #f470a7;
}

.knob > i:before {
  left: 4px;
}
.knob > i:after {
  left: -6px;
}

input:checked + label > .knob {
  box-shadow: 0 0 0 8px #a1c6dd inset;
  background-color: #e2ecf4;
  transform: translateX(49px) rotate(-140deg);
}


input:checked + label > .knob > i {
  background-color: #a1c6dd;
}

input:checked + label > .knob > i:after,
input:checked + label > .knob > i:before {
  background-color: #a1c6dd;
}

input:checked + label > .knob > i:after {
  top: 14.5px;
  width: 12px;
  left: -7px;
  transform: rotate(45deg);
}
input:checked + label > .knob > i:before {
  top: 13px;
  width: 12px;
  left: 0px;
  transform: rotate(134deg);
} */

/* 남자 글자 색 */
.호빵맨-character-title{
  color: #faaa32;
}
.패트와.매트-character-title{
  color:#f84a44;
}
.아따아따.영웅이-character-title{
  color:#fa7878;
}
.하울-character-title{
  color:#43d9f3;
}
.기철이-character-title{
  color:#696969;
}
.보스베이비-character-title{
  color:#4af862;
}
.미래소년코난.포비-character-title{
  color:#fa8232;
}
.포뇨.소스케-character-title{
  color:#59fda3;
}
.바람이분다.지로-character-title{
  color:#6a42fa;
}
.아따맘마.동동이-character-title{
  color:#bb4d03;
}
.짱구.오수-character-title{
  color:#ef12f7;
}
.센과치히로의.행방불명.하쿠-character-title{
  color:#a7f810;
}

/* 여자 글자색 */
.공실이-character-title{
  color:pink
}
.꼬부기-character-title{
  color:skyblue;
}
.단비-character-title{
  color:pink;
}
.루나-character-title{
  color:burlywood;
}
.마루코-character-title{
  color:rgb(243, 93, 93);
}
.뮬란-character-title{
  color:#8a5403;
}
.아리-character-title{
  color:#f268f7;
}
.애봉이-character-title{
  color:#09ce02;
}
.어피치-character-title{
  color:pink;
}
.엘사-character-title{
  color:#35f5f5;
}
.피글렛-character-title{
  color:pink;
}
/* Aysad kozanoglu */

html, body {
  margin:0;
  padding:0;
}
.header {
border-radius: 20px;
z-index: 100000;
position:fixed;
top :0;
left:0;
right:0;
width:1000px;
max-width:1000px;
height:30px;
background:#ffffff;
margin:auto;
}
@media screen and (max-width:1000px) {
.header {
  width:auto
}

}

#main {

  position: relative;
   
  }
  
  #main input {
    -webkit-appearance: none;
   
  }
  
  #tab {
    width: 80px;
    height: 5px;
    border-radius: 45px;
    z-index: 20;
    transition: all .3s;
  }
  
  #circle {
    width: 38%;
    height: 100%;
    background: rgb(255, 97, 181);
    position: absolute;
    top: 0;
    left: 0;
    
    z-index: 99;
    border-radius: 50%;
    transition: all .3s;
  }
  
  #main input:checked+#tab #circle {
    background: aqua;
    left: 61.5%;
  }
  
  #tab::before {
    content: '';
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg,#f6f7fa 0%,rgb(255, 97, 181)350%);
    border-radius: 45px;
    position: absolute;
    top: 0%;
    left: 0;
    opacity: 1;
    transition: all .3s;
  }
  
  #tab::after {
    content: '';
    height: 100%;
    width: 100%;
    background: linear-gradient(-90deg, #f6f7fa 0%, aqua 350%);
    border-radius: 45px;
    position: absolute;
    top: 0%;
    left: 0;
    opacity: 0;
    transition: all .3s;
  }
  
  #main input:checked+#tab::before {
    opacity: 0;
  }
  
  #main input:checked+#tab::after {
    opacity: 1;
  }
  #gender2 {
    position: absolute;
    font-size: 40px;
  }
  
  #gender2::before {
    position: absolute;
    content: '\2640';
    left: 1px;
    
    transition: all 0.8s;
    font-weight: bolder;
    color: rgb(255, 97, 181);
  }
  
  
  #main input:checked~#gender2::before {
    color:  aqua;
    left: 50px;
    transition: all 0.8s ease-in-out;
    content: '\2642';
  }
  
  .mt-3, .my-3 {
    margin-top: 3rem!important;
  }

  @media screen and (max-width:510px) {
    #gender2::before {
      position: absolute;
      content: '\2640';
      left: -10px;
      
      transition: all 0.8s;
      font-weight: bolder;
      color: rgb(255, 97, 181);
    }
    
    
    #main input:checked~#gender2::before {
      color:  aqua;
      left: 42px;
      transition: all 0.8s ease-in-out;
      content: '\2642';
    }
    .blog{
      display: none;
    }

  }

  

  